.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-gallery-item {
    box-sizing: border-box;
    flex: 0 0 50%;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.image-gallery-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}